<div>
    <ul>
        <li class="brand"><img src="assets/images/logo.png" alt="Spotify logo" /></li>
        <li class="brand"><a href="#">Spotify</a></li>
        <li><a href="#" routerLink="/login" routerLinkActive="active">Login/Signup</a></li>
        <li><a href="#" routerLink="/download" routerLinkActive="active">Download</a></li>
        <li><a href="#" routerLink="/player" routerLinkActive="active">Web Player</a></li>
        <li><a href="#" routerLink="/premium" routerLinkActive="active">Premium</a></li>
    </ul>
</div>